@model CRUD_Pessoa_Fisica_Juridica.ViewModel.EnderecoViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Adicionar Endereço</h4>
</div>

@using (Html.BeginForm(new { pessoaId = ViewBag.PessoaId, tipo = ViewBag.Tipo, indice = ViewBag.PessoaJuridicaCNPJ }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Enderecos</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => Model.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.Logradouro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => Model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.Numero, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => Model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="modal-footer">
                <input type="submit" value="Adicionar" class="btn btn-success" />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar" />
            </div>


        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

